@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$poppins : "Poppins", sans-serif;
$laranjaEscuro: #E3371E;
$laranjaClaro: #FF7A48;

.NavBarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 20px;
    background-color: rgb(250, 249, 249);
        a{
            margin-right: 20px;
            text-decoration: none;
            font-size: 16px;
            font-family: $poppins;
            color: rgb(77, 76, 76);
            font-weight: 400;
        }
        a:hover{
            color: $laranjaEscuro;
            transition: ease-in 0.2s;
        }
}